@page "/warehouse/efficiency"
<_WarehouseNavBar/>

<PageTitle>Efficiency</PageTitle>

@*<MudPaper Elevation="4" >*@
    
    <MudGrid>
        <MudItem xs="9">
            <MudPaper Elevation="0" >
                 <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Efficiency Form</MudText>
                    </CardHeaderContent>
                 </MudCardHeader>
                 <MudCardContent>
                    <MudDatePicker PickerVariant="PickerVariant.Dialog" @ref="_picker" Label="Date" @bind-Date="date">
                        <PickerActions>
                            <MudButton Variant="Variant.Filled" OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => _picker.Close())">Ok</MudButton>
                        </PickerActions>
                    </MudDatePicker>
                    <MudTextField @bind-Value="nullableInt" Label="Enter Your SAP Number" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
                   
                    <MudSelect T="string" Label="Select Task" Variant="Variant.Text" Margin="Margin.Normal">
                        <MudSelectItem Value="@("Collect Items")"/>
                        <MudSelectItem Value="@("Pick Harness")"/>
                        <MudSelectItem Value="@("Collect Items")"/>
                        <MudSelectItem Value="@("Pick Harness")"/>
                    </MudSelect>       
                    <br />
                        <MudContainer Fixed="true">
                            <MudGrid>
                                <MudTimePicker Label="Start Time" AmPm="true" @bind-Time="time"/>                                                                   
                                <MudSpacer />
                                <MudTimePicker Label="End Time" AmPm="true" />
                            </MudGrid>
                        </MudContainer>
                    <br />
                     <MudTextField @bind-Value="nullableIntAchi" Label="Enter Achivement" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
                    <br />
                    <MudButton Class="mx-6 my-4" Color="Color.Info" Variant="Variant.Filled" Style="width:200px" OnClick="Task">Add Task</MudButton>
                </MudCardContent> 
            </MudPaper>
        </MudItem>
        <MudItem xs="3">
            <MudPaper Elevation="1" Class="d-flex align-center justify-center mud-width-full py-8"  >  
                <MudCardContent>
                <MudImage Src="https://d1whtlypfis84e.cloudfront.net/guides/wp-content/uploads/2019/08/03091106/Trees-1024x682.jpg" Width="200" Height="200"></MudImage>
                                                    
                <br />                
                    <MudText Typo="Typo.body1">Name :___________</MudText>
                    <br />
                    <MudText Typo="Typo.body1">Department : ___________</MudText>
                    <br />
                    <MudText Typo="Typo.body1">Designation : ____________</MudText>
                </MudCardContent>               
            </MudPaper>
        </MudItem>
        <MudItem xs="3">
            <MudText Class="mb-n3" >
                Selected Date : <MudChip Class="day">@(date?.ToString("MM/dd/yyyy") ?? "Not Selected")</MudChip> 
            </MudText>
        </MudItem>
        
        <MudItem xs="12">   
            <MudPaper Elevation="1">    
                <_LogTable/>
            </MudPaper>
        </MudItem>
               
    </MudGrid>

@code {
    int? nullableInt;
    int? nullableIntAchi;

    MudDatePicker _picker;
    DateTime? date = DateTime.Now;

    TimeSpan? time = new TimeSpan(07, 30, 00);

    private void Task()
    {
        
    }


    //string[] headings = { "Date", "Operation", "Start Time", "End Time", "Achivement" };
    //string[] rows = {
    //    @"1"
    //};
}








@*</MudPaper>*@

@*<MudGrid >
    <MudItem xs="12">
        <MudPaper>
            <MudCard Elevation="25">
                <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Efficiency Form</MudText>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudDatePicker PickerVariant="PickerVariant.Dialog" @ref="_picker" Label="Date" @bind-Date="date">
                        <PickerActions>
                            <MudButton Variant="Variant.Filled" OnClick="@(() => _picker.Close(false))">Cancel</MudButton>
                            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="@(() => _picker.Close())">Ok</MudButton>
                        </PickerActions>
                    </MudDatePicker>
                    <MudTextField @bind-Value="nullableInt" Label="Enter Your SAP Number" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>
                   
                    <MudSelect T="string" Label="Select Task" Variant="Variant.Text" Margin="Margin.Normal">
                        <MudSelectItem Value="@("Collect Items")"/>
                        <MudSelectItem Value="@("Pick Harness")"/>
                        <MudSelectItem Value="@("Collect Items")"/>
                        <MudSelectItem Value="@("Pick Harness")"/>
                    </MudSelect>
        
                    <br />
                        <MudContainer Fixed="true">
                            <MudGrid>
                                <MudTimePicker Label="Start Time" AmPm="true" @bind-Time="time"/>                                                                   
                                <MudSpacer />
                                <MudTimePicker Label="End Time" AmPm="true" />
                            </MudGrid>
                        </MudContainer>
                    <br />
                     <MudTextField @bind-Value="nullableIntAchi" Label="Enter Achivement" Variant="Variant.Text" Margin="Margin.Normal"></MudTextField>

                    <br />
                    <MudButton Class="mx-6 my-4" Color="Color.Info" Variant="Variant.Filled" Style="width:200px">Add Task</MudButton>
                </MudCardContent>   
            </MudCard>
            <MudItem xs="3">
                <MudPaper>
                     <MudCardHeader>
                            <CardHeaderContent>
                                <MudText Typo="Typo.h5" Align="Align.Center">Employee Details</MudText>

                            </CardHeaderContent>
                     </MudCardHeader>
                     <MudContainer>
                         <MudCard>
                                <MudCardContent>
                                    <MudText>Story of the day</MudText>
                                    <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                                </MudCardContent>
                                <MudCardActions>
                                    <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                                </MudCardActions>
                            </MudCard>
                     </MudContainer>
                </MudPaper>

            </MudItem>
        </MudPaper>
    </MudItem>*@

    @*<MudItem xs="3">
        <MudPaper>
             <MudCardHeader>
                    <CardHeaderContent>
                        <MudText Typo="Typo.h5" Align="Align.Center">Employee Details</MudText>

                    </CardHeaderContent>
             </MudCardHeader>
             <MudContainer>
                 <MudCard>
                        <MudCardContent>
                            <MudText>Story of the day</MudText>
                            <MudText Typo="Typo.body2">The quick, brown fox jumps over a lazy dog.</MudText>
                        </MudCardContent>
                        <MudCardActions>
                            <MudButton Variant="Variant.Text" Color="Color.Primary">Learn More</MudButton>
                        </MudCardActions>
                    </MudCard>
             </MudContainer>
        </MudPaper>

    </MudItem>*@

@*</MudGrid>
*@




@*<MudSimpleTable Style="overflow-x: auto;">
                    <thead>
                        <tr>
                            @foreach (var h in headings)
                            {
                                <th>@h</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in rows)
                        {
                            <tr>
                                @foreach (var x in row.Split())
                                {
                                    <td>@x</td>
                                }
                            </tr>
                        }
                    </tbody>
 </MudSimpleTable>*@