@inherits LayoutComponentBase


<ErrorBoundary @ref="errorBoundary">
    <ChildContent>
        <MudThemeProvider @bind-IsDarkMode="@_isDarkMode" Theme="_theme" />
        <MudDialogProvider />
        <MudSnackbarProvider />

        <MudLayout>
            <MudAppBar Color="Color.Transparent" Elevation="0" Dense="false" class="Glass">
                <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@ToggleDrawer" />
                <MudText Typo="Typo.h5" Class="ml-3">VS Workspace</MudText>
                <Workspace.Client.Pages.Authentication.Components.WelcomeNote></Workspace.Client.Pages.Authentication.Components.WelcomeNote>

                <MudBadge Content="100" Color="Color.Primary" Overlap="true" Class="mx-6 my-4">
                    <MudIcon Icon="@Icons.Material.Filled.Email" Color="Color.Default" />
                </MudBadge>

                <MudToggleIconButton @bind-Toggled="@AlarmOn"
                                     Icon="@Icons.Filled.NotificationsOff" Color="@Color.Inherit" Title="Off"
                                     ToggledIcon="@Icons.Filled.Notifications" ToggledColor="@Color.Success" ToggledTitle="On" />

                <MudToggleIconButton @bind-Toggled="@_isDarkMode"
                                     Icon="@Icons.Filled.LightMode" Color="@Color.Inherit" Title="Light"
                                     ToggledIcon="@Icons.Filled.DarkMode" ToggledColor="@Color.Inherit" ToggledTitle="Dark" />
                @*
                Login Partial View in Right Top Conner > PartialLogin
                *@
                <PartialLogin />
            </MudAppBar>

            <MudDrawer @bind-Open="@open" Elevation="0" Variant="@DrawerVariant.Mini" OpenMiniOnHover="true" ClipMode="DrawerClipMode.Always" Color="Color.Transparent">
                <MudDrawerHeader>
                    @*<MudText Typo="Typo.h6">WorkspaceWeb</MudText>*@
                </MudDrawerHeader>
                <SideNavMenu />
            </MudDrawer>

            <MudMainContent>
                <div class="bg-white  rounded-5"  style="min-height:95vh">
                    <FeatureNavBar />
                    <MudContainer MaxWidth="MaxWidth.Large" Class="mt-10 ph-10">
                        @Body
                    </MudContainer>
                </div>
            </MudMainContent>
        </MudLayout>
    </ChildContent>


    <ErrorContent>
        <Workspace.Client.Pages.ErrorPages.GlobalErrorPage Error="@context.Message" bakErrorContent="RecoverError"></Workspace.Client.Pages.ErrorPages.GlobalErrorPage>
    </ErrorContent>

</ErrorBoundary>

<style>
    .Glass {
        backdrop-filter: blur( 4px );
        -webkit-backdrop-filter: blur( 4px );
    }
</style>





@code {

    private ErrorBoundary? errorBoundary;

    protected override void OnInitialized()
    {
        errorBoundary = new ErrorBoundary();
    }
    //Side Nav Toggle button
    bool _drawerOpen = true;
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }

    //Side Nav Toggle button - Mini
    bool open = true;
    void ToggleDrawer()
    {
        open = !open;
    }
    void RecoverError(bool err)
    {
        errorBoundary.Recover();
    }


    //Theme Toggle
    private MudTheme _theme = new();
    private bool _isDarkMode;


    //Alarm On OFF in Top Nav
    public bool AlarmOn { get; set; }
}